<h1>Login</h1>
<form
    [formGroup]="contactForm"
    (ngSubmit)="$event.preventDefault(); submitForm()"
>
    <div class="mb-3">
        <input 
            type="email" 
            class="form-control" 
            placeholder="email address"
            formControlName="userEmail"
        >
    </div>
    <div class="mb-3">
        <input 
            type="text" 
            class="form-control" 
            placeholder="password"
            formControlName="userPassword"
        >
    </div>
    <div class="mb-3">
        <button 
            type="submit" 
            class="btn btn-primary"
        >Login</button>
    </div>
</form>