<div class="m-3">
    <h1>Login</h1>
    <form [formGroup]="contactForm" (ngSubmit)="$event.preventDefault(); login()">
        <div class="mb-3">
            <input type="email" class="form-control" placeholder="email address (example@mail.com)" formControlName="userEmail">
            <div *ngIf="contactForm.get('userEmail')?.invalid && (contactForm.get('userEmail')?.dirty || contactForm.get('userEmail')?.touched)">
                <small 
                    class="text-danger"
                    *ngIf="contactForm.get('userEmail')?.hasError('required')"
                >This field is required</small> 
                <small 
                    class="text-danger" 
                    *ngIf="contactForm.get('userEmail')?.hasError('email')"
                >Please enter a valid email address</small>
            </div>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" placeholder="password" formControlName="userPassword" type="password">
            <div *ngIf="contactForm.get('userPassword')?.invalid && (contactForm.get('userPassword')?.dirty || contactForm.get('userPassword')?.touched)">
                <small 
                    class="text-danger"
                    *ngIf="contactForm.get('userPassword')?.hasError('required')"
                >This field is required</small>

                <!-- <small 
                    class="text-danger"
                    *ngIf="contactForm.get('userPassword')?.hasError('minlength')"
                >The password has to be at least 8 characters</small> -->

                <small 
                    class="text-danger"
                    *ngIf="contactForm.get('userPassword')?.hasError('pattern')"
                >The password must contain at least one: 
                    lowercase letter, 
                    uppercase letter,
                    digit, 
                    special character [@$!%*?&_-+] 
                    and it must be at least 8 characters long</small>

            </div>
        </div>
        <div class="mb-3">
            <button 
                type="submit" 
                class="btn btn-primary" 
                [disabled]="contactForm.invalid"
            >Login</button>
        </div>
    </form>
</div>