<form class="row mt-3 gx-3 gy-2 align-items-center justify-content-center">
    <div class="col-sm-6">
        <label class="visually-hidden" for="specificSizeInputName">Habit</label>
        <input placeholder="Enter new habit name" type="text" name="new-habit-text" class="form-control" [(ngModel)]="newHabitText">
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary" (click)="$event.preventDefault(); addNewHabit()">
            Add Habit
        </button>
    </div>
</form>
