<div class="card m-1">
    <li class="d-flex justify-content-between">
        <div class="form-check">
            <label class="form-check-label" [ngClass]="cssClasses">
                <input *ngIf="!habit.isArchived" type="checkbox" class="checkbox" [checked]="habit.isDone"
                    (click)="toggleDone()">
                {{habit.habitText}}
            </label>
        </div>
        <div class="btn-group" role="group">
            <button class="btn">
                <a [routerLink]="['/habit', habit.id]">
                    <i class="bi bi-info-circle-fill"></i>
                </a>
            </button>
            <button type="button" class="btn btn-danger"
                (click)="!habit.isArchived? toggleArchiveHabit() : removeHabit()">
                <i class="bi bi-x-lg"></i>
            </button>
            <button *ngIf="habit.isArchived" class="btn btn-success" (click)="toggleArchiveHabit()">
                <i class="bi bi-arrow-90deg-up"></i>
            </button>
        </div>
    </li>
</div>